{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1>Membre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ membre.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ membre.lastName }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance</th>
                <td>{{ membre.dateDeNaissance ? membre.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ membre.cin }}</td>
            </tr>
        </tbody>
    </table>
 <a class="btn btn-info" href="{{ path('membre_controller2_index') }}" > BACK</a>

    <a href="{{ path('membre_controller2_edit', {'id': membre.id}) }}" class="btn btn-warning">edit</a>

    {{ include('membre_controller2/_delete_form.html.twig') }}
{% endblock %}
