{% extends 'base.html.twig' %}

{% block title %}Sponsor index{% endblock %}

{% block body %}
    <h1>Sponsor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameSponsor</th>
                <th>Amount_earned</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.id }}</td>
                <td>{{ sponsor.nameSponsor }}</td>
                <td>{{ sponsor.amountEarned }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('sponsor_show', {'id': sponsor.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('sponsor_edit', {'id': sponsor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-success" href="{{ path('sponsor_new') }}">Create new</a>
{% endblock %}
